// Colors
.background-primary {
  background-color: $primary;
}

.background-secondary {
  background-color: $secondary;
}

.background-off-white {
  background-color: $offWhite;
}

.background-dark {
  background-color: $black;
}

.background-dark-lighter {
  background-color: $blackLighter;
}

.border-color-primary {
  border-color: $primary;
}

.border-color-secondary {
  border-color: $secondary;
}

.font-color-primary {
  color: $primary;
}

.font-color-secondary {
  color: $secondary;
}

.container,
.container-fluid {
  .background-primary {
    background-color: $primary;
  }

  .background-secondary {
    background-color: $primary;
  }

  .background-off-white {
    background-color: $offWhite;
  }

  .border-color-primary {
    border-color: $primary;
  }

  .border-color-secondary {
    border-color: $secondary;
  }

  .font-color-primary {
    color: $primary;
  }

  .font-color-secondary {
    color: $secondary;
  }
}

//Active States
.container,
.container-fluid {
  .active {
    color: $primary;
  }
}

// Remove Padding
.container,
.container-fluid,
main {
  .no-padding {
    padding: 0;
  }
  .no-padding-top {
    padding-top: 0;
  }
  .no-padding-right {
    padding-right: 0;
  }
  .no-padding-bottom {
    padding-bottom: 0;
  }
  .no-padding-left {
    padding-left: 0;
  }
}

// Remove Margin
.container,
.container-fluid,
main {
  .no-margin {
    margin: 0;
  }
  .no-margin-top {
    margin-top: 0;
  }
  .no-margin-right {
    margin-right: 0;
  }
  .no-margin-bottom {
    margin-bottom: 0;
  }
  .no-margin-left {
    margin-left: 0;
  }
}

.container,
.container-fluid,
main {
  .no-border-radius {
    border-radius: 0;
  }
}

.no-border-radius {
  border-radius: 0;
}

// Paddings
.padding-sm {
  padding: $paddingSm;
}
