.container-fluid
    .row.toolbar
        div
            a(href="tel:0112345678") 011 234 567
        div
            a(href="mailto:anemail@address.com") anemail@address.com
nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
        a.navbar-brand(href="index.html") Start Bootstrap
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href="about.html") About
                li.nav-item
                    a.nav-link(href="services.html") Services
                li.nav-item
                    a.nav-link(href="portfolio.html") Portfolio
                li.nav-item.dropdown
                    a#navbarDropdownBlog.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Contact Us
                    .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdownBlog")
                        a.nav-link(href="faq.html") FAQ
                        a.nav-link(href="contact.html") Contact