doctype html
//if IE 8
    <html class="ie8" lang="en">
//if IE 9
    <html class="ie9" lang="en">
html(lang="en")
  head
    include includes/head
  body 
    // if lts IE 9
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    header
      include includes/nav
    aside
      include includes/preloader
    main
      article
        .jumbotron.breadcrumb.no-margin.no-border-radius
          h1.mt-4.mb-3 Portfolio
        ol.breadcrumb.no-border-radius
          li.breadcrumb-item
            a(href="porfolio.html") Home
          li.breadcrumb-item.active Portfolio
        section.container
          .row
            .col-lg-3.col-md-4.col-sm-6.portfolio-item
              .card.h-100
                a(href="#") 
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
            .col-lg-3.col-md-4.col-sm-6.portfolio-item
              .card.h-100
                a(href="#") 
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
            .col-lg-3.col-md-4.col-sm-6.portfolio-item
              .card.h-100
                a(href="#") 
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
            .col-lg-3.col-md-4.col-sm-6.portfolio-item
              .card.h-100
                a(href="#") 
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
            .col-lg-3.col-md-4.col-sm-6.portfolio-item
              .card.h-100
                a(href="#") 
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
            .col-lg-3.col-md-4.col-sm-6.portfolio-item
              .card.h-100
                a(href="#") 
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
            .col-lg-3.col-md-4.col-sm-6.portfolio-item
              .card.h-100
                a(href="#") 
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
            .col-lg-3.col-md-4.col-sm-6.portfolio-item
              .card.h-100
                a(href="#") 
                  img.card-img-top(src="http://placehold.it/700x400" alt="")
                .card-body
                  h4.card-title
                    a(href="#") Project
                  p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
        section.container
          ul.pagination.justify-content-center
            li.page-item
              a.page-link(href="#" aria-label="Previous")
                span(aria-hidden="true") &laquo;
                span.sr-only Previous
            li.page-item
              a.page-link(href="#") 1
            li.page-item
              a.page-link(href="#") 2
            li.page-item
              a.page-link(href="#") 3
            li.page-item
              a.page-link(href="#" aria-label="Next")
                span(aria-hidden="true") &raquo;
                span.sr-only Next
    include includes/footer
    script(src="js/index.js")